.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.home-infos{
  background-color: white;
  width: 300px;
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 10px;
  margin: 20px;
}

.number-home-info{
  font-size: 25px;
  font-style: bold;
}

.vl {
  margin-right: -10px;
  border-right: 1px solid red;
  height: 50px;
}