<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			MoviesPi <span>&#960;</span>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<div class="ion-text-center">
					<p>Tudo sobre filmes, na palma da mão.<ion-icon style="color: red;" name="hand"></ion-icon></p>
				</div>
			</ion-col>
		</ion-row>
		<div class="home-infos">
			 <ion-row>
				<ion-col size="4">
					<div class="ion-text-center vl">
						<div class="number-home-info">10</div> Assistidos
					</div>
				</ion-col>
				<ion-col size="4">
					<div class="ion-text-center vl">
						<div class="number-home-info">5</div> Favoritos
					</div>
				</ion-col>
				<ion-col size="4">
					<div class="ion-text-center">
						<div class="number-home-info">6</div> Desejos
					</div>
				</ion-col>
			 </ion-row>
		</div>
		<ion-row>
			<ion-searchbar style="color: red;" placeholder="Encontre seu filme" animated></ion-searchbar>
		</ion-row>
	</ion-grid>
</ion-content>